{% extends 'blog/base_two.html'%}

{% block navbar %}
<br><a href='/blog/'
       style="color:black;background-color:white;padding:2px 5px 2px 5px;border-radius:4px;font-weight:bold;text-decoration:none;"/> Back</a>
{% endblock %}

{% block body %}
<form action=' ' method='POST'>{% csrf_token%}
    <h1 style="color:black; font-weight: bold; font-size: 2rem;">Do you want to delete this post
        "{{object.title}}"?</h1>
    <p4></p4>
    <br>
    <p5></p5>
    <br>


    <p style="color:red"><input type='submit' value='Yes'/> <a href='../'>Cancel</a></p>


</form>

{% endblock %}