{% extends 'blog/base_two.html'%}
{% block area_one %}

<H1 >Wheater-Blog </H1>



<p><a href="createArticle" style="color:black;background-color:white;padding:2px 5px 2px 5px;border-radius:4px;font-weight:bold;text-decoration:none;text-align: center;" />Article Creation</a> <a href="http://127.0.0.1:8000/" style="  text-align:center;color:black;background-color:white;padding:2px 5px 2px 5px;border-radius:4px;font-weight:bold;text-decoration:none;" />Weatherlist</a></p>

<p1>List:</p1>

{% for instance in object_list %}
<p>{{forloop.counter}} - <a href = '{{ instance.get_absolute_url }}' style="color:black;text-decoration:none;" /> {{instance.title}}</a>
</p>
{% endfor %}


{% endblock %}