{% extends 'weather/base.html' %}

 {% block one %}
<title> Weather:{% for city in object_list %} {{city}} {%endfor%}</title>
{% endblock %}

{% block two %}

<h1 class="paul">
    What's the weather like?
</h1>
{% endblock %}

{% block three %}
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-offset-4 is-4">
                <form method="POST">
                    {% csrf_token %}
                    <div class="field has-addons">
                        <div class="control is-expanded">
                            {{ form.name }}
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-info">
                                Add City
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-offset-4 is-4">
                {% for city_weather in weather_data %}

                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <figure class="image is-50x50">
                                <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">
                            </figure>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <span class="title"> {{forloop.counter}} - <a
                                            href='{{ city_weather.instance.get_absolute_url }}' style="color:black;text-decoration:none;"> {{city_weather.city}}</a></span>
                                    <br>
                                    <span class="subtitle">{{ city_weather.temperature }}°</span>
                                    <br> {{ city_weather.description }}


                                </p>
                            </div>
                        </div>
                    </article>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</section>
{% endblock %}
   {% block four %}
    <a href="http://127.0.0.1:8000/blog" style="color:black;background-color:white;padding:2px 5px 2px 5px;border-radius:4px;font-weight:bold;text-decoration:none;"/>Blog</a>


{% endblock %}

